@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
$blue : #0046ad;
$gray: #f2f2f2;
$darkGray: #9b9b9b;
$lightBlue:#40bdf9;
$formPadding: 14px;
$borderRadius: 5px;
$mainFontSize: 16px;
$gray: #9b9b9b;
$lightGray: #f2f2f2;
$lightBlue: #5382c8;
$activeBlue: #89ccfb;
html{
  background: transparent;
}
*{
  font-size: 15px!important;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
@mixin screen1024px{
  @media screen and (min-width:1024px){
    @content
  }
};
@mixin screenMax767{
  @media screen and (max-width: 767px){
    @content
  }
};
@mixin screenMin768{
  @media screen and (min-width: 768px){
    @content
  }
};
@mixin screenMax767Min480{
  @media screen and (max-width: 767px) and (min-width: 480px){
    @content
  }
};
@mixin screenMax959Min768{
  @media screen and (max-width: 959px) and (min-width: 768px){
    @content
  }
};
@mixin screen970{
  @media screen and (min-width: 970px){
    @content
  }
};
/*
* used for logo and form padding
*/
$mainUnit:10px;
/*
* margin bottom: donation types
*/
$secondaryUnit: 14px;
/*
* 28
*/
$thirdUnit: 38px;
$fourthUnit: 60px;
$fifthUnit: 28px;
$sixthUnit: 83px;

body#type-b #main{
  padding: $mainUnit;
  left: 50%;

  max-width: 1252px;
    position: relative;
    width: 100%;
    transform: translateX(-50%);
    min-height:81.3vh;
    @include screenMin768{
      padding: 0px
    }
}
#logo img{
  height: 50px;
  @include screenMax767{
    max-width: unset;
    height:30px;
  }
}
#greetings-text{
  padding:10px!important;
    font-size:15px!important;

}
#greetings-text *{
  font-size:15px!important
}

#greetings-text strong{
  font-size:123%!important
}
#greetings *{
  color: black;
    background: white;
}
#greetings input[type="submit"]{
    font-weight: normal;
}
#greetings.bloc{
  display: flex!important;
  flex-direction: column;
  @include screen1024px{
    flex-direction: row;
  }
}
#greetings-comp fieldset{
  @include screenMax767{
    padding: 0 0px !important;
  }
}
#greetings-comp p{
  padding: 0px;
}
#greetings-comp label{
  position:relative;
  font-size:15px!important;
  background: none;
    margin: 10px 0;
}
#greetings-comp form{
  padding:7px;
  @include screen1024px{
    padding:0 7px;
  }
}
#greetings-comp input[type="text"],#greetings-comp textarea,#greetings-comp select{
padding: 10px 10px;
border-radius: 5px;
border: solid 1px $lightBlue;
}
#greetings-comp input[type="text"],#greetings-comp textarea{
width: 100%;
}
#greetings-comp select{
-webkit-appearance: menuList;
-moz-appearance: menuList;
}
#greetings-comp input[type="submit"]{
  border-radius: 5px;
  background:$blue;
  color:white;
  border: solid 1px $lightBlue;
  padding: 10px 15px;
}
#greetings-comp textarea{
  width:100%;
  padding:0;
}
#greetings .help{
  background:none
}
#greetings .unit{
  width:100%;
}
#greetings h2{
  font-size: 167%!important;
  background:$blue;
  color:white;
      margin-bottom: 10px;
}
#lang{
  display: inline-block!important;
  position: fixed;
top: 16px;
right: 0;
    width: unset;
      right: 10px;
    @include screenMax959Min768{
          right: 42px;
    }
    @include screen1024px{
      right: 42px;
    }
}
#langSelector{
  display: inline-block;
  position:relative;
  float:right
}
#langSelector select{
  background: transparent;
    color: white;
    border-radius: 5px;
    border-color: white;
        padding: 6px 18px;
}
#langSelector select option {
  background: transparent;
    color: black;
    border-radius: 5px;
}
#langTitle{
  color:white;
}
.lang__item-expanded,#lang .current{
      margin: 4px 15px;
}
.current{
  max-height: unset!important;
}
.lang__item-expanded{
      max-height: 100px!important;
}
#lang p{
  display: flex;
  flex-direction: column;
  border: solid 1px white;
  border-radius: 5px;
  padding:0;
};
  #lang p a{
    cursor:pointer;
        font-size: 13px!important;
        max-height: 0;
    margin: 0;
    overflow: hidden;
    text-decoration: none;
    color:white;
        margin: 0 15px;
        @include screenMax959Min768{
          font-size: 20px !important;
        }
        @include screen970{
          font-size:20px !important;
        }
  }

#header{
  margin:60px 0px!important;
   max-width: 1252px;
position: relative;
left: 50%;
transform: translateX(-50%);
overflow:visible;
overflow-y: visible;
display: block!important;
    z-index: 1;

    @include screenMax767{
        padding:0 10px;
        margin:0!important
    }
    @include screenMin768{
      padding:0 42px;
    }
  @include screen1024px{
      margin-top:$sixthUnit;
      margin-bottom:39px;
          margin-top: 80px!important;
          padding: 0 42px;
  }

}
.unit{
  flex-basis:100%;
  @include screenMax767Min480{
    flex-basis:100%
  }
  @include screenMax959Min768{
    flex-basis: 100%;
  }
}
#type-b .step-info{
  display: block;
  background:$blue;
padding:0;
color: white;
background: #0046ad;
flex-basis: 31%;
height: auto!important
}
html{
  height: auto;
}
body{
  margin: 0;
  background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.payment_body{
  transition: max-height 0.5s;
max-height: 0px;
overflow: hidden;
margin-top: 15px;
}
.payment_body-visible{
max-height: 100vh;
}
.card-types{
  margin-bottom:20px;
}
select{
  background: white;
}
select[aria-describedby="nameHelp_reserved_affectation"]::after,#country::after{
    content: '';
    position: absolute;
    left: 42%;
    top: 100%;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #e8e8e8;
    clear: both;
    @include screenMax959Min768{
      bottom: 31%;
    right: 17px;
    }

}
#step-2 select#country{
  width:100%;
}
.payment__method_button{
 background: transparent;
  color: $blue;
  border: solid 1px $blue;
  text-align: center;
  padding: $formPadding 0;
  border-radius: 5px;
  font-weight: bold;
  @include screen1024px{
    font-size: 15px!important;
    padding: 10px 0;
  }
}
.payment__method_button-active{
 background: $lightBlue;
  color: white;
  border: solid 1px transparent
}


.payment_head {
  display: none;
}
.footer-info-wrapper{
  flex-wrap: wrap;
    justify-content: space-between;
  display: none;
    flex-direction: column;
    max-width: 1252px;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    @include screenMin768{
      display: flex;
    }
  @include screen1024px{
    flex-direction: row;
    padding: 0px 33px;
  }
}
#c-lname, #c-fname{
  margin-block-start: 0;
      margin-block-end: 0;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      display: inline-block;
      width: calc(50% - 21.5px);
    @include screenMax767{
      width: calc(50% - 7.5px);
    }
    @include screen1024px{
      width: calc(50% - 12px);
    }
  }
  #c-lname{
    float:right;
        @include screenMax959Min768{
            width: calc(50% - 21.5px);
        }
    }
#type-b .step-info a{
  color:white;

}
body:not(#type-b) #footer{
  text-align: center;
  max-width: 1252px;
  left:50%;
  transform:translate(-50%);
  @include screenMin768{
  display: flex;
}
}
body:not(#type-b) .footer-info-wrapper{
padding:0;
}
body:not(#type-b) #copyright{
  display: inline-block;
  text-align:none!important;
  @include screenMin768{

}
}
#footer_wrapinner{
  flex-direction: column;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    max-width: 1252px;
    left: 50%;
position: relative;
transform: translateX(-50%);
overflow-x: hidden;
    @include screenMin768{
      flex-direction: row
    }
    @include screen1024px{
      padding: 0 42px;
    }
}
#fieldset-step2 [data-type="checkbox"] span.reserved_title{
  display:none;
}
#powered a{
  @include screenMin768{
    text-align:left!important;
  }
}
#copyright a{
  color:white
}
#powered a{
  float:none;
}
#powered{
  float:none;
  width:100%
  }
  #powered a{
    text-align: center
  }
  #powered img{
    display: inline-block;
    }
    #type-b .step-info h4, #type-c .step-info h4{
      @include screenMax959Min768{
        font-size: 18px!important;
font-weight: 600;
      }
      @include screen1024px{
        font-size: 18px!important;
font-weight: 600;
      }
    }
    .step-info-body span,.step-info-body strong,.step-info-body a,.step-info-body b{
          line-height: 13px;
    }
#footer{
  background: $blue;
  color:white;
      top: 18px;

          position: relative;
          @include screenMax959Min768{
            padding:42px;
          }
          @include screen1024px{
            padding:42px;
          }
}
#container{
  width: unset;
  overflow: visible;
}
#form-steps{
      display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @screen
  }
  #logo h1, #logo a, #logo img{
    float:none;
    display: block;
    overflow:visible;
    padding:0;
  }

#header #logo h1{
  float:none;
    background-color: transparent!important;
    @include screen1024px{
      padding:0;
    }


}

#logo{
  float:none;
  display: inline-block;
  float:none!important;
  margin: 22px 0;
  @include screenMax767{
        width: 160px!important;
        margin-left:10px;
  }
  @include screenMax959Min768{
    width: 300px !important;
  }
  @include screen970{
width: 350px !important;
  }
}
/*
* form general
*/
.donation_chooser-hidden{
  display: none!important;
}
.donation__type-only{
  background: none!important;
color: black!important;
border: none!important;
text-align: center!important;
flex-basis:100%!important;
background: $blue!important;
color:white!important;
border-radius:5px!important
}
.step-title h2{
    font-size:15px!important;
  background: $blue;
  padding:13px 20px;
  font-weight: bold;
  @include screenMax959Min768{
    padding:20px;

  }
  @include screen1024px{
    font-size: 16px!important
  }
}
.step-content, #step3 .step-content{
  background: white;
  padding: 18px 13px!important;
  @include screenMax959Min768{
    padding:30px!important
  }
}

#step-3 .payment{
  padding: 0;
}
.donations-type-wrapper{
  margin-bottom:21px;
  display: flex;
}
.step-title{
  padding: 0 0;
  color: white
}
.bloc{
  border:none;
  display: none!important
}
.bloc-content>h3{
  display: none;
}
.step-container{
  border-radius: 4px;
overflow: hidden;
background: white;

}
div[id^="step-"]{
  position: relative;

}
form{
  @include screenMin768{
    padding:0 42px;
  }
}
.bloc-content{
  padding: 0;
}
.donation-type{
  display: inline-block;
    width: calc(50% - 2px);
    border: solid 1px $gray;
    text-align: center;
    padding: $formPadding/2 0;
    color: $gray;
    @include screenMax959Min768{
      padding: 20px 0;
      font-weight: bold;
    }
    @include screen1024px{
      padding: 9px 0
    }
  }
#regular-chooser, #once-chooser{
  padding: 9px;
    font-size: 15px !important;
    font-weight: bold;
    flex-basis: 50%;
    text-align: center;
    border: solid 1px gainsboro;
      @include screen1024px{
        font-size: 15px!important;
      }
}

#regular-chooser{
  border-radius:5px 0 0 5px
}
#once-chooser{
  border-radius:0 5px 5px 0
}
#once-chooser.active, #regular-chooser.active{
  background: $blue;
    color: white;
    border: 2px solid $activeBlue;
}
label[for="reserved_birthdate"]{
  position: absolute;
z-index: 0;
padding: 15px 15px;
z-index:1;
}
#card-expiry select{
  line-height: 1;
}
#regular-chooser, #once-chooser{
  display: flex;
    align-items: center;
    justify-content: center;
}
#greetings-text img{
  margin-left:0!important;
  margin-right:0!important;
}
.greetings-stretcher{
  display: table;
  width: 100%;
}
.error,input.error[type="checkbox"] + span.checkbox__checkmark{
  background: #FCEDED!important;
}
input[type="date"]:not(.has-value):before{
  color: gray;
  content: attr(placeholder);
}

input[type="date"].has-value{
  z-index: 2;
  background:white!important;
}
input[type="date"]:not(.has-value):before{
  background:white!important
}

input[type="date"]{
    position: relative;
}
input[type="date"][name="reserved_birthdate"]:not(.has-value){
  color:transparent!important
}
input[type="date"][name="reserved_birthdate"]:not(.has-value):focus{
  color:black!important
}
p[name="reserved_birthdate"] .required{
  display: none;
}
input[type="date"][data-scope="step2"]:not(.has-value):focus{
  color:gray!important;
  background:white!important;
  z-index: 2;
}
label[for="reserved_birthdate"]{
  font-size: 15px!important;
  display: inline-block!important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
   display: none
 }
 input[type="date"]::-webkit-clear-button { display: none; }
 input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

.form__step_underlay{
  height: 100%;
  width:100%;
    position: absolute;
    background: none;
    z-index:-1;
    border-radius: 5px;
}
.step-visible,#step-1 >.step-container{
  @include screen1024px{
    opacity:1!important
  }
}
.step-container{
  @include screen1024px{
    opacity:0.4
  }
}
.step-container-in{
  @include screen1024px{
    opacity:1
  }
}
.bloc{
  display:none;
}
.bloc-visible{
  display:block!important
}
#or{
  display: none!important
}
#amount-list-regular, #amount-list-once{
  list-style: none;
    display: flex;
    width: 100%;
    padding: 0;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom:15px;

}
#step-1,#step-2,#step-3{
  @include screen1024px{
    flex-basis: 31.65%;

  }
}
.tax-info{
  padding:0
}
.radio-inline li:after{
  content: "";
  flex-basis:31%
}
#card-type label .checkmark {
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  position: relative;
    border: solid 1px gainsboro;
}
.line:before, .line:after{
  content:none
}
#card-type label:hover input ~ .checkmark {
}

#card-type label input:checked ~ .checkmark {
  border: solid 1px gainsboro;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

#card-type label input:checked ~ .checkmark:after {
  display: block;
}

#card-type label .checkmark:after {
  top: 50%;
left: 50%;
        transform: translate(-50%, -50%);
width: 70%;
height: 70%;
border-radius: 50%;
background: $blue;
}
input[name="amount-regular"],input[name="amount-once"]{
  position: absolute;
    top:0px;
left:0px;
width:100%;
height:100%;
visibility:hidden;
}
fieldset[class*="-amount"] span{
  border-radius: 5px 0 0 5px
}
ul[id^="amount-list-"] label{
  display: block
}
.radio-inline li{
  margin: 0;
    flex-basis: 31.25%
}
.radio-inline span{
  font-size:15px!important;
  border-radius: 5px;
padding: 12px 0px;
border: solid 1px $gray;
color:$gray;
font-weight: bold;
background: $lightGray;
@include screenMax959Min768{
  padding: 20px 0;

font-size: 15px !important;
}
@include screen1024px{
      padding: 14px 0;
  font-size: 15px!important
}
}
.radio-inline span.value_of_amount-active{
  color: white;
    background: $blue;
}
div[id^="step-"]{
  margin-bottom: 17px;
}
#step-2 input[type="text"]::placeholder,#cardmonth,#cardyear,#step-2 label[for="reserved_birthdate"],#step-2 input[type="birthdate"],#step-3 input[type="text"],#step-3 select{
  color:#a9a9a9!important;
  opacity:1
}
#step-2 input[type="date"]{
  height:48px;
  @include screenMin768{
    height:52px;
  }
  @include screen1024px{
    height:47px;
  }
}
#step-2 input[type="text"],#step-2 input[type="date"],#step-3 input[type="text"],#step-3 select,#step-3 input[type="submit"]{
  border:solid 1px $blue;
  border-radius: 5px;
  padding:14px;
  -moz-padding:14px;
  max-width: unset;
  width:100%!important;
  color:gray;
  background:none;
  -webkit-appearance:none;
  -moz-appearance:none;
  @include screenMax959Min768{
    padding:16px 14px;
    -moz-padding:16px 14px;
  }
  @include screen1024px{
    font-size: 15px!important;
  }
}
#container>:first-child{
  display: none;
}
select[size] {
 appearance: list-menu;
 display: inline-block;
 height: attr(size,em);
}
#card-expiry select, #card-scode input{
  height:47px;
}
#card-expiry select{
    text-align: left
}
#card-scode input{
    text-align: center
}
#step-3 input[type="submit"]{
  background: $blue;
  color:white!important
}
#fieldset-step2{
  padding:0;
}

#c-addr1{
    display: block!important;
}
#cardnumber{
  margin-bottom: $mainFontSize
}
select[aria-describedby="nameHelp_reserved_affectation"],#country{
  width:100%;
  color:$blue;
  padding: $secondaryUnit 0;
  padding-left: #{$secondaryUnit - 5px};
  border-radius:5px;
  border-color:$blue;
  -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      font-weight: 600;
      @include screenMax959Min768{

          padding: 16px 14px!important;
      }
      @include screen1024px{
        font-size: 15px!important;
      }
}
select[aria-describedby="nameHelp_reserved_affectation"] option{
 @include screen1024px{
        font-size: 16px!important;
      }
}
p[name="reserved_affectation"]:after,#c-country:after{
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 7px 0 7px;
  border-color: #0046ad transparent transparent transparent;
  right: 17px;
  top: 65%;
    right: 17px;
  position: absolute;
  @include screenMax767{
    top: 67%;
  }
}
#c-country{
  position: relative
}
#c-country:after{
  @include screenMax767{
    top: 45%;
  }
  @include screenMin768{
    top:44%;
  }
}
p[name="reserved_affectation"]:after{
  top: unset;
  bottom:20px;
  @include screenMin768{
    top: unset;
    bottom:20px;
  }
  @include screen1024px{
    top: unset;
    bottom: 20px;
  }
}
#step-2 input[type="text"], #step-2 input[type="date"]{
  width: 100%
}
p[name^="reserved_privacy"] label{
  display:flex!important;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
body{
      min-height: 100vh;
      background-color: #E9E9E9;
}
#header>#lang{
  display: none!important;
}
body:not(#type-b) #main{
  background: white;
  margin: 0 10px;
  @include screenMin768{
    margin: 42px;
    max-width: 1252px;

  }
  @include screen1024px{
    padding:42px;
    margin:0;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
  }

}
body:not(#type-b)#main{
  background: white;
}
body:not(#type-b) #header{
      padding: 20px!important;
}
body:not(#type-b) #logo{
  position: relative;
  left: 0;
  top: 0;
  transform: none;
  @include screenMin768{
    padding:0;
  }
}
body:not(#type-b) #header{
  text-align: left;
}
#container{
  min-height:100vh
}
.required{
  order:1;
  flex-basis: 90%;
}
.checkbox__text, .help{

  font-size: 15px!important;
  width:100%;
}
.bloc.line.greetings-full,#greetings-comp.bloc{
  display: block!important;
}
.greetings-full{
  padding:0;
  margin:0;
  @include screenMin768{
    padding:40px;
  }
}
label{
  font-size:0px!important
}
label[for="reserved_privacy2"]>:nth-child(2){
  flex-basis: 5%!important;
}
label[for="reserved_affectation"]{
  font-weight: 700;
  color:$blue;
  display: inline-block;
  padding: 0;
  padding-left: $secondaryUnit/2;
  margin-bottom: $secondaryUnit;
  font-size: 15px!important;
  @include screenMin768{
    font-size: 15px!important;
    margin-bottom: 22px;
  };
  @include screen1024px{
    font-size: 15px!important;
  }
}
p[name="reserved_affectation"]{
  color:$blue;
  padding: 0;
  position: relative;
}
input[autocomplete="section-famount"]{
  width:100%;
  border: solid 1px $blue;
  border-radius: 0 5px 5px 0;
  font-weight: 600;
  font-size: 15px!important;
  padding: 14px 9px;
  @include screenMax767{
    padding:0 14px;
  }
  @include screen1024px{
    font-size: 15px!important;
    padding: 16px 11px;
  }

}
.free-amount{
  margin-bottom: $fifthUnit;
  @include screenMax959Min768{
    height: unset;
  }
}
.free-amount p {
  padding:0;
}
.free-amount p label{
display: flex
}
select, input, textarea, button{
  font-size: 15px!important;

  @include screenMax959Min768{

          padding: 20px 12px;
  }
}
.free-amount span{

  background: $blue;
  color: white;
  display: flex;
  align-items: center;
  font-size: 100%;
  background: #0046ad;
color: white;
display: flex;
align-items: center;
font-size: 100%;
padding: 14px 12px;
@include screenMax959Min768{
  padding: 20px 12px;
}
  }
  #card-number,#card-expiry,#card-scode{
    padding: 0;
  }
  #card-scode .help{
    display: none!important
  }
  #or{
    display: none;
  }
#card-expiry{
  display: inline-flex;
      float: right;
      width: 72.75%;
    flex-wrap: wrap;
    justify-content: space-between;
}
#card-expiry label{
  flex-basis:48%
}
#card-expiry span,#card-scode label,#card-scode span.help{
  display: none;
}
.payment-submit{
  padding:0;
  margin-top:$formPadding;
  @include screenMax959Min768{
    padding: 0 !important;
  }
}
#card-scode{
  width: 24.5%;
display: inline-block;
}
#fieldset-step2 p{
  padding:0
}
#fieldset-step2 p[name^="reserved_privacy"]{
  @include screenMax959Min768{
    margin-bottom: 35px
  }

}
#fieldset-step2 p[name="reserved_privacy"]{
  @include screenMax959Min768{
  margin-top: 44px
}
}
#scode{
  width:100%!important
}
#c-email{
  position: relative;
  text-align: right;
  margin-bottom: 14px;
      text-align: right;
}
p#c-addr1, p#c-addr2, p#c-pcode, p#c-city, p#c-country{
  display: block!important;
  width:100%;
}
#c-email,#c-fname,#c-lname,#fielset-address,#c-addr1, #c-addr2, #c-pcode,#c-city, #c-country, #step-2 p[name^='reserved_']:not([date-type="checkbox"]){
  margin-bottom: 14px;
  @include screenMax959Min768{
        margin-bottom: 19px;
  }
  @include screen1024px{
    margin-bottom: 16px;
  }
}
#fielset-address{
  @include screen1024px{
    margin-bottom:26px;
  }
}
#step-2 #email[type="text"]{
      width: calc(100% - 36px)!important;
      border-radius: 0 5px 5px 0!important;
          @include screenMax767{
              width: calc(100% - 50px)!important;
          };
          @include screenMin768{
              width: calc(100% - 60px)!important;
          };
          @include screen1024px{
              width: calc(100% - 41px)!important;
          }
}
label[for="CVV2"]{
  display: none;
}
#form-error{
    bottom: 0;
    width: 100%;
    margin: 0;
    left:0;
    z-index: 1
}
.reserved__privacy_link{
  font-size: 15px!important

}
.email__envelope-icon{
  background: $blue;
    padding: 12px;
border-radius: 5px 0 0 5px;

  background: $blue;
  position: absolute;
height: 100%;
left: 0;
border:solid 1px $blue;
    width: 50px;
        border-radius: 5px 0 0 5px;
        @include screenMin768{
          width:60px;
          padding: 12px;
        }
        @include screen1024px{
          padding:0 10px;
              width: 41px;

        }
}
.payment_mode{
  margin-bottom: $thirdUnit/2
}
fieldset[id="payment_mode-card"] li>label {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  @include screen1024px{
    padding-left: 21px;
  }
}
select{
  border: 1px solid;
  -webkit-appearance:none;
  -moz-appearance:none;
}
#langSelector>select{
  width: 100%
}
#langSelector:after{
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 4px 0 4px;
  border-color: white transparent transparent transparent;

position:absolute;
top: 79%;
right: 7px;
transform:translateY(-50%);
}
label[for="cardNumber"]{
  margin-top:26px;
  margin-bottom: 11px;
  color: $blue;
  display: block;
}

/* Hide the browser's default radio button */
fieldset[id="payment_mode-card"] li>label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.card-types{
  display: flex;
  justify-content: space-between;
  @include screenMax959Min768{
    width:100%;
  };
  @include screen1024px{
    padding: 5px 0;
  }
}
.card-types>li>label{
  text-align:center;
}
#expMonth,#expYear{
}
#card-expiry > label{
  position:relative;
}
#card-expiry > label::after{
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #0046ad transparent transparent transparent;
  top: 51%;
right: 7px;
position: absolute;
transform: translateY(-50%);
}



.card-type-item{
  flex-basis: 30%;
}

.payment-type-icon{
      width: 50px;
      @include screen1024px{
        width:37px;
      }
}
/* Create a custom radio button */
.checkmark {
  position: absolute;
display: inline-block;
left: 10px;
height: 20px;
width: 20px;
background-color: #eee;
border-radius: 50%;
top: 50%;
transform: translateY(-50%);
@include screenMin768{
  left: 55px;
}
    @include screen1024px{
      left:5px;
      width:16px;
      height:16px;
    }
}

/* On mouse-over, add a grey background color */
fieldset[id="payment_mode-card"] li>label input ~ .checkmark {
  background-color: white;
border: 1px solid gainsboro;
}

/* When the radio button is checked, add a blue background */
fieldset[id="payment_mode-card"] li>label input:checked ~ .checkmark {
  background-color: white;
  border: solid 1px $blue;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
fieldset[id="payment_mode-card"] li>label input:checked ~ .checkmark:after {
  width: 12px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 12px;

background: $blue;
@include screen1024px{
  width:10px;
  height: 10px;
}
}

/* Style the indicator (dot/circle) */
fieldset[id="payment_mode-card"] li>label .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
label[for^="reserved_privacy"] {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
label[for^="reserved_privacy"] input[name^="reserved_privacy"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* Create a custom checkbox */
.checkbox__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 2px;
}

/* On mouse-over, add a grey background color */
label[for^="reserved_privacy"]:hover input[name^="reserved_privacy"] ~ .checkbox__checkmark {
  background-color: #ccc;
}
#step-2 p:not([data-type="checkbox"]):not(#c-isc) label:not([for="reserved_birthdate"]){
  display: none!important
}
p[id="c-isc"] label{
  font-size: 15px!important;
  padding-left: 45px;
}
/* When the checkbox is checked, add a blue background */
label[for^="reserved_privacy"] input[name^="reserved_privacy"][data-ira-check="1"] ~ .checkbox__checkmark {
  background-color: $blue!important;
}
#c-isc-inf{
  margin-bottom:15px;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkbox__checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
label[for^="reserved_privacy"] input[name^="reserved_privacy"][data-ira-check="1"] ~ .checkbox__checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
label[for^="reserved_privacy"] .checkbox__checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
//custom radio
/* Customize the label (the container) */
#c-isc {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 19px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default .donation__type-only button */
#c-isc>label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark__radio-is-company {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
#c-isc>label:hover input ~ .checkmark__radio-is-company {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
#c-isc>label input:checked ~ .checkmark__radio-is-company {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark__radio-is-company:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
#c-isc>label input:checked ~ .checkmark__radio-is-company:after {
  display: block;
}

/* Style the indicator (dot/circle) */
#c-isc>label .checkmark__radio-is-company:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
.afftection__checkbox_wrapper {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.afftection__checkbox_wrapper input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.afftection__checkbox_wrapper .checkmark {
  position: absolute;
  top: 50%;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 0;
  background-color: #eee!important;
}

/* On mouse-over, add a grey background color */
.afftection__checkbox_wrapper:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.afftection__checkbox_wrapper input:checked ~ .checkmark {
  background-color: $blue!important;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.afftection__checkbox_wrapper input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.afftection__checkbox_wrapper .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
